.qaResult {
    font-size: 14px;
    border: 1px;
    border-collapse: collapse;
    word-break: keep-all;
    white-space: nowrap;
}
.qaResult caption{
    text-align: left;
    padding-left: 100px;
}
/*.qaResult th {
    background-color: #f5f5f5;
    text-align: left;
    border-color: #EDEDED;
    border-style: solid;
    border-width: 1px;
}

.qaResult td {
    border-color: #EDEDED;
    border-style: solid;
    border-width: 1px;
    word-break: keep-all;
    white-space: nowrap;
}
*/
.qaResult th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    /*	color: #4f6b72;*/
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-align: center;
    padding: 3px;
    background: #CAE8EA url('../icons/bg_header.jpg') no-repeat;
}
.qaResult th a { color:black; }  

.qaResult tr.even{
    background-color:#CAE8EA;
}

.qaResult td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    /*	background: #fff;*/
    padding: 2px 5px 2px 2px;
    /*	color: #4f6b72;*/
}

.qaResult td a { color:black;; }  

.tables input {
    border: 0;
}

.highlight {
    background: #9999ff url('') no-repeat !important;
}

.warn {
    background: url('../icons/warn.png') no-repeat 0 0;
}

.error {
    background: url('../icons/error.png') no-repeat 0 0;
}

.database {
    background: url('../icons/db_db.png') !important;
}

.table {
    background: url('../icons/db_table.png') !important;
}

.column {
    background: url('../icons/db_column.png') !important;
}

.file_rpt {
    background: url('../icons/file_rpt.png') !important;
}

.report {
    background: url('../icons/report.jpg') !important;
}

.query {
    background: url('../icons/sql.jpg') !important;
}

.bot {
    background: url('../icons/bot.png') !important;
}
.no {
    background: url('../icons/no.png') !important;
}
.ColumnOrderTable {
    display: none;
}

p {
    margin: 5px;
}
.settings {
    background-image: url('../icons/folder_wrench.png');
}
.nav {
    background-image: url('../icons/folder_go.png');
}
.info {
    background: url('../icons/information.png') no-repeat 0 0;
    width:10px;
    height: 10px;
}
.go {
    background: url('../icons/application_go.png') no-repeat 0 0;
    width:10px;
    height: 10px;
}
.smallsetting {
    background: url('../icons/cog.png') no-repeat 0 0;
    width:10px;
    height: 10px;
}
.refresh {
    background-image: url('../icons/refresh.png');
}
.delete {
    background-image: url('../icons/delete.gif');
}
.edit {
    background-image: url('../icons/pencil.png');
}
.upload {
    background-image: url('../icons/upload.png');
}
.folder {
    background-image: url('../icons/tree_folder.gif');
}
.favourite {
    background-image: url('../icons/favourite.jpg');
}
.save {
    background-image: url('../icons/save.png');
}
.sync {
    background-image: url('../icons/sync.png');
}
.src {
    background-image: url('../icons/src.png');
}


.x-grid-tree-node-expanded .x-tree-icon-parent {
    background-image: url('../icons/tree_folder_open.gif') ;
}


.x-tree-icon-parent {
    background-image: url('../icons/tree_folder.gif');
    width: 16px;
}


.x-tree-icon-leaf {
    background-image: url('../icons/tree_file.gif');
    width: 16px;
}

.x-tip {
    width: auto !important;
}
.x-tip-body {
    width: auto !important;
}
.x-tip-body span {
    width: auto !important;
}

.qaResult .exportselectedcolumn,.openAutoQaScript
,.setStandarValues,.reload,.viewNote{
    width:15px;
    height:13px;
    padding:0px 0px 0px 3px;
}
.hide{
    display:none!important;
}
.show{
    display: block!important;
}
.right{
    text-align: right; 
}
 